@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    border-bottom: none;
    text-decoration: none;
}

.header {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box; 
    animation: cambiar-fondo 15s infinite;
    scroll-behavior: smooth;
}
    

@keyframes cambiar-fondo {
    0% {  background-image: url(../img/cafelandias.jpg); }
    25% { background-image: url(../img/coffee-stock.jpg); }
    55% { background-image: url(../img/coffekis.jpg); }
    75% { background-image: url(../img/cropped.png); }
    100% {background-image: url(../img/cafelandias.jpg); } 
}


.container1 {
    max-width: 1200px;
    margin: 0 auto ;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.479);
}

.logo{
    color: #fff3ed;
    font-size: 15px;
    font-weight: 800;
    font-family: 'poppins' sans-serif;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff3ed;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content {
    padding: 5%;
    margin-left: 1%;
    float: left;
}

.header-content h1{
    color: #fff3ed;
    font-size: 30px;
}

.header-content h2{
    padding: 0;
    margin-top: 0;
    color: #fff3ed;
    font-size: 50px;
    font-weight: 700;
    
}

.btn1{
    display: inline-block;
    padding: 10px 60px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    border-width: 1px 1px;
    color: #fff3ed;
    text-transform: uppercase;
    transition: background-color 0s;
    margin-top: 10px;
}

.btn1:hover {
    background-color: rgba(32, 12, 0, 0.733);
}

footer {
    background-color: #160503;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto; 
    width: 100%;
}

/* ########################## SECCION DE MAIN RECETAS ########################## */

.recetas{
    background-image: url(../img/recetasbk.jpg);
    padding: 4%;
    font-family: 'Poppins', sans-serif; 
    
}

.recipe {
    margin-top: 10%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(109, 63, 35, 0.356); 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.7); 
    transition: box-shadow 0.3s ease; 
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-radius: 25px;
}

.recipe img {
    border-radius: 15px;
    width: 100%; 
    max-height: 8cm; 
    object-fit: cover; 
    margin-bottom: 10px; 
}
.recipe h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
    color: rgb(255, 239, 233);
    text-transform: uppercase;
    background: linear-gradient(to right, #fff4f0, #9e4e38); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.recipe ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    color: aliceblue;
}

.tutos {
    margin-bottom: 2%;
    color: rgb(255, 255, 255); 
    text-align: center; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 50px;
}

/* ########################## SECCION DE MAIN PRODUCTOS ########################## */

.productosDestacados {
    font-family: 'Poppins', sans-serif;
	background-color: #482e23;
	width: 100%;
	height: 130vh;
	display: flex;
    flex-direction: column;
	align-items: center;
    text-decoration: none;
}

.vermas2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    margin-top: 50px;
    background-color: #9e4e38;
    padding: 15px;
    border-radius: 30px;
}

.vermas2:hover{
    background-color: orangered;
}


.head_text {
    margin-top: 100px;
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ffffff;
	font-size: 45px;
}

.card_box {
    font-family: 'Poppins', sans-serif;
    text-align: center;
	background: #ffffff;
	border-radius: 8px;
	margin-top: 40px;
	transition: .3s;
	margin-bottom: 40px;
}

.card_box:hover {
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
	transform: translateY(-10px);
}

.card_text {
	padding: 30px 20px 25px 20px;
}

.card_text h4 {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
    font-weight: 700;
	color: #0A0A0A;
}

.card_text a {
	 font-size: 12px;
	 line-height: 150%;
	 margin-top: 20px;
     padding: 8px;
     border-radius: 30px;
     background-color: burlywood;
	 color: #ffffff;
     text-decoration: none;
}

.card_text a:hover{
    background-color: #9e4e38;
}

.slider_carousel .owl-nav {
	 position: absolute;
	 top: 50%;
	 width: 100%;
}

.slider_carousel .owl-prev, .slider_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	top: 50%;
}

.slider_carousel .owl-next {
    right: -50px;
}

.slider_carousel .owl-prev {
    left: -50px;
}

/* ########################## SECCION DE REDES INDEX ########################## */

.footer-links {
    text-decoration: none;
    flex-direction: column;
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 100px;
    background-color: #482e23;
    background-image: linear-gradient(to bottom, rgba(72, 46, 35, 1), transparent), url('../img/cafe4.jpg');
    
}

.footer-links h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.btnredes{
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.btnredes a{
    font-size: 2em;
    padding: 1.5vw;
    color: aliceblue;
}

.footer-links .quick-links{
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-links .quick-links a{
    color: #ffffff;
    margin: 5px;
    width: 150px;
    background-color: #9e4e38;
    padding: 10px;
    border-radius: 30px;
}

/* ########################## RESPONSIVE ########################## */

@media(max-width:768px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.356); 
        display: none;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .productosDestacados{
        height: 110vh;
    }

    .card_box{
        margin: 30px;
    }

    .slider_carousel .owl-next {
        display: none;
    }
    
    .slider_carousel .owl-prev {
        display: none;
    }

}


