@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

header nav .navbar-brand {
    font-size: 15px;
    font-weight: 800;
}

header nav .navbar-collapse .navbar-nav{
    font-weight: 600;
}

.carouselTienda{
    margin: 0;
    padding: 0;
    width: 100%;
}