@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(197, 197, 15, 0.452); 
}

.header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box;
    background-color: #482e23;
    height: 10vh;
}

.container1 {
    max-width: 1200px;
    margin: 0 auto ;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.479);
}

.logo{
    color: #fff3ed;
    font-size: 15px;
    font-weight: 800;
    font-family: 'poppins' sans-serif;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff3ed;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

footer {
    background-color: #160503;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto; 
    width: 100%;
}

.textoeimagenes{
    font-family: 'Poppins', sans-serif;
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.textoeimagenes h6{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding: 0;
    padding-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}

.imagen-derecha {
    float: right; 
    margin-left: 20px;
}
.content {
    text-align: center; 
}

.product-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-info.reverse {
    flex-direction: row-reverse; 
}

.product-info img {
    width: 400px; 
    height: 400px; 
    margin-right: 20px; 
}

.product-info p {
    margin-left: 20px; 
}
.redesybotones{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem 0;
    background-color: #482e23;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.redesybotones .redes-text{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

.texto2{
    padding: 5%;
}

.texto2 h3{
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 700;
}

.botonesRedes a{
    font-size: 2em;
    padding: 1.5vw;
    color: aliceblue;
}


@media(max-width:768px){

    .header{
        height: 9vh;
    }

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.356); 
        display: none;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .mapasyredes{
        padding-top: 150px;
        flex-direction: column;
    }

    .product-info.reverse{
        text-align: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .product-info img {
        margin-right: 0; 
        margin-bottom: 30px;
    }

    .imagen-derecha{
        margin-left: 0;
    }
    
    .product-info p {
        margin-left: 0; 
    }

    .container {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .container img{
        width: 60vw;
        height: auto;
    }
}