@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto ;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.479);
}

.logo{
    color: #fff3ed;
    font-size: 15px;
    font-weight: 800;
    font-family: 'poppins' sans-serif;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff3ed;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

footer {
    background-color: #160503;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto; 
    width: 100%;
}

.containermaparedes{
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box;
   /* background-color: #351f12; */
   background-image: url(cafelandias.jpg);
    justify-content: center;
}


.mapasyredes{
    display: flex;
    justify-content: space-between;
    width: 150vw;
    align-items: center;
}

.mapas-text{
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    float: left;
    align-items: center;
    padding: 2%;
}

.mapas{
    margin: 1%;
}

.video{
    margin: 1%;
}

.redes-text{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    float: right;
    align-items: center;
    display: flex;
}

.texto2{
    padding: 5%;
}

.texto2 h3{
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 700;
}

.botonesRedes a{
    font-size: 2em;
    padding: 1.5vw;
    color: aliceblue;
}


@media(max-width:768px){

    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.356); 
        display: none;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .mapasyredes{
        padding-top: 150px;
        flex-direction: column;
    }

    .redes-text{
        padding: 3%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}