@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto ;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.479);
}

.logo{
    color: #fff3ed;
    font-size: 15px;
    font-weight: 800;
    font-family: 'poppins' sans-serif;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fff3ed;
    display: block;
    font-weight: 600;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}



.contact{
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
    background-size: cover;
    border-bottom: none;
    box-sizing: border-box;
    background-color: #351f12;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

form {
    padding: 25px;
    color: aliceblue;
}

form label {
    display: block;
    margin-bottom: 13px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #805543;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #fdfdfd;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#eed7bd;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #351f12;
    border-radius: 30px;
}

form input[type="submit"]:hover {
    background-color: #fff1e8; 
}

footer {
    background-color: #160503;
    color: white;
    text-align: center;
    padding: 12px;
    margin-top: auto; 
    width: 100%;
}

form #promociones{
    margin-bottom: 20px;
    padding: 5%;
}

.titulo-contacto {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


@media(max-width:768px){
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.356); 
        display: none;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        text-align: center;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
}